@model GestorDeActividades.Models.PROJECT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PROJECT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pro_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_initial_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_initial_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_final_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_final_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEAM_PROJECT.tpr_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEAM_PROJECT.tpr_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pro_ncode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
