@model IEnumerable<GestorDeActividades.Models.PROJECT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre del Proyecto
        </th>
        <th>
            Fecha Inicial
        </th>
        <th>
            Fecha Final
        </th>
        <th>
            Equipo Asignado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pro_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pro_initial_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pro_final_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEAM_PROJECT.tpr_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pro_ncode }) |
            @Html.ActionLink("Details", "Details", new { id=item.pro_ncode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pro_ncode })
        </td>
    </tr>
}

</table>
