@model GestorDeActividades.Models.TEAM_PROJECT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TEAM_PROJECT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tpr_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpr_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVITY.act_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVITY.act_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WORKERS.wok_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WORKERS.wok_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tpr_ncode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
